<?xml version="1.0"?>
<configuration>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
	<appSettings>
		<add key="protocolo" value=" " />
		<add key="baudrate" value=" " />
		<add key="databits" value=" " />
		<add key="paridade" value=" " />
		<add key="stopbits" value=" " />
		<add key="porta" value=" " />
		<add key="caminho" value=" " />
		<add key="corrigevalor" value=" " />
	</appSettings>
</configuration>
